<h1>Sign Up</h1>
<h4>
<%= form_for :user, url: '/users' do |f| %>
  Username: <%= f.text_field :username %><br>
  Email: <%= f.text_field :email %><br><br>
  Password: <%= f.password_field :password %><br><br>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>
</h4>